.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.herotext {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  padding: 20px 40px;
  border-radius: 10px;
}

.herohead {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  padding: 25px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Poppins", sans-serif;
  color: white;

  background: rgba(0, 0, 0, 1.0);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.logo {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
}

.menu li:hover {
  opacity: 0.7;
}

