.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

.herotext {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  padding: 20px 40px;
  border-radius: 10px;
}

